<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Loot</a>
</nav>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Master Item List</h2>

        <table id="master" class="table">
            <tr>
                <th>Name</th>
                <th>Qty.</th>
                <th>Value</th>
                <th>Actions</th>
                <!-- Take, Sell, Delete, Edit -->
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control form-table"
                        id="master-new-name" placeholder="Item Name">
                </td>
                <td>
                    <input type="number" class="form-control form-table"
                        id="master-new-qty" placeholder="Quantity">
                </td>
                <td>
                    <input type="number" class="form-control form-table"
                        id="master-new-value" placeholder="Value">
                </td>
                <td>
                    <button type="button" class="btn btn-outline-success"
                        onclick="masterNew()">New</button>
                </td>
            </tr>
        </table>
   </div>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Cash Accounts</h2>

        <table id="cash" class="table">
            <tr>
                <th>Note</th>
                <th>Qty</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control form-table"
                        id="cash-new-note" placeholder="Note">
                </td>
                <td>
                    <input type="number" class="form-control form-table"
                        id="cash-new-qty" placeholder="Quantity">
                </td>
                <td>
                    <input type="number" class="form-control form-table"
                        id="cash-new-value" placeholder="Value">
                </td>
                <td>
                    <button type="button" class="btn btn-outline-success"
                        onclick="cashNew()">New</button>
                </td>
            </tr>
        </table>
        <p class="card-text">
            <b>Total: </b><span id="cash-total">0</span>
        </p>
   </div>
</div>
