// Place all the styles related to the Loot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: auto;
    padding-top: 50px;
    max-width: 800px;
}

.btn-table {
    margin-right: 10px;
}

.card {
    margin-top: 20px;
}
